@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --a: 0;
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'sans-serif';
}

.close {
    display: none;
}

body {
    background-color: black;
    color: white;
}



.left {
    width: 25vw;
    padding: 10px;
    height: 100vh;
}

.right {
    width: 75vw;

}



.home ul li {
    display: flex;
    gap: 15px;
    width: 14px;
    padding-top: 14px;
    list-style: none;
    font-weight: bold;
}

.heading {
    display: flex;
    gap: 15px;
    width: 100%;
    padding-top: 14px;
    padding: 23px 14px;
    align-items: center;
    font-weight: bold;
    font-size: 11px;
}

.heading img {
    width: 25px;
}

.library {
    min-height: 80vh;
    position: relative;
}

.footer {
    display: flex;
    font-size: 10px;
    color: gray;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}

.footer a {
    color: gray;

}

.right {
    margin: 16px 0;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(32 31 29);
    /* border-radius: 8px; */
}

.header>* {
    padding: 20px;
}

.spotifyPlaylist {
    padding: 16px;
}

.spotifyPlaylist h1 {
    padding: 16px;
}

.cardContainer {
    margin: 25px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 64vh;
}

.card {
    width: 150px;
    padding: 10px;
    padding-top: 0;
    border-radius: 5px;
    background-color: rgb(31, 31, 31);
    position: relative;
    transition: all .9s;
}



.card h2 {
    font-size: 22px;

}

.card p {
    font-size: 15px;

}

.card:hover {
    background-color: rgb(53 53 53);
    cursor: pointer;
    --a: 1;
}

.card>* {
    padding-top: 10px;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.play {
    width: 28px;
    height: 28px;
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 113px;
    right: 18px;
    opacity: var(--a);
    transition: all 1s ease-out;
}



.buttons>* {
    margin: 0 12px;
}

.signupbtn {
    background-color: rgb(32 31 29);
    color: rgb(131, 126, 126);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 13px;

}


.signupbtn:hover {
    font-size: 1.01rem;
    color: white;

}



.loginbtn {
    background-color: white;
    border-radius: 21px;
    color: black;
    font-weight: bold;
    padding: 5px;
    width: 60px;
    font-size: 13px;
}

.loginbtn:hover {
    font-weight: bold;
    font-size: 14px;
}





.playbar {
    min-height: 55px;
    position: fixed;
    bottom: 8px;
    background-color: rgb(69 69 69);
    width: 71%;
    padding: 2px;
    width: 70vw;
    border-radius: 15px;

}

.songbuttons {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.songList {
    height: 500px;
    overflow: auto;
    margin-bottom: 44px;
}

.songList ul {
    padding: 0 2px;
    /* background-color: #202121;
    border-radius: 10px;
    color: #c2c3c2f0; */
}

.songList ul li {
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    cursor: pointer;
    border: 1px solid white;
    margin: 5px 0;
    padding: 12px 8px;
    border-radius: 5px;

}

.songList .info {
    font-size: 13px;
    width: 344px;
}

.info div {
    word-break: break-all;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburgerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.playnow {
    display: flex;
    justify-content: center;
    align-items: center;

}


.playnow span {
    font-size: 12px;
    width: 64px;
}

.seekbar {
    height: 3px;
    width: 98%;
    background-color: rgb(255, 255, 255);
    /* border: 1px solid #000000; */
    border-radius: 10px;
    position: absolute;
    bottom: 0px;
    margin: 3px;
    cursor: pointer;
}

.circle {
    width: 13px;
    height: 13px;
    border-radius: 45px;
    background-color: #ffffff;
    position: relative;
    bottom: 5px;
    left: -1px;
    transition: left 0.5s;

}


.songbuttons img {
    cursor: pointer;
}

.timevol {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.songinfo {
    color: white;
    padding: 0 12px;
    font-size: 15px;
    width: 200px;
}

.songtime {
    color: white;
    padding: 0 12px;
    font-size: 15px;
    width: 100px;
}



.volume {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: aquamarine;
    cursor: pointer;

}

.range input {
    cursor: pointer;
    accent-color: #a1a09d;
}


.abovebar {
    display: flex;
    justify-content: space-between;
    margin: 14px 0;

}

@media (max-width: 1100px) {
    .left {
        position: absolute;
        left: -120%;
        height: 100vh;
        transition: all .3s;
        z-index: 1;
        width: 360px;
        background-color: black;
        padding: 0;
    }

    .songinfo {
        justify-content: center;
        display: flex;
    }

    .left .close {
        position: absolute;
        right: 15px;
        top: 15px;
        width: 30px;
    }

    .timevol {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 2px;
        flex-direction: column;
    }

    .right {
        width: 100vw;
    }

    .playbar {
        width: calc(100vw - 79px);
    }

    .seekbar {
        width: calc(100vw - 100px);
    }

    .hamburger {
        display: block;
    }

    .right {
        margin: 0;
    }

    .card {
        width: 44vw;
    }

    .cardContainer {
        margin: 0;
        justify-content: center;
    }

    .close {
        display: block;
    }

    .abovebar {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }


    .cardContainer {
        max-height: 60vh;
    }

   


}

/* For mobile */
@media (max-width: 500px) {
    .card {
        width: auto;
    }
    .cardContainer {
        max-height: 70vh;
    }

  .playbar {
  background-color: rgba(69, 69, 69, 0.65); /* faded background */
}

    
}


/* for tabs */
@media (min-width: 500px) and (max-width: 1000px) {
    .card {
        width: 35vw;
    }

    .cardContainer {
        max-height: 70vh;
    }

   .playbar {
  background-color: rgba(69, 69, 69, 0.65); /* faded background */
}

    


}